<!DOCTYPE html>
<html>
<head>
    <title>OptiCrop - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="home-page">

<div class="topnav">
    <a class="active" href="Opticrop/static/images/home.jpg">Home</a>
    <a href="/about">About</a>
    <a href="/findyourcrop">FindYourCrop</a>
</div>


<h2 align=Center>Opti Crop Agricultural Optimisation</h2>

<p align =Center>
        The main purpose of the OptiCrop project is to develop an advanced
        software system that utilizes machine learning to optimize agricultural
        production for different crops.
</p>


</body>
</html>